.Single_User{
    border-radius: 0.4rem;
    cursor: pointer;
    
    /* border-bottom-width: 0.4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */

    /* padding: 2.3rem 1rem; */
    transition: all 0.2s ease-in-out;
}

/* .Single_User:hover{
    background-color: #70777c3f;
    
} */