.loader {
    width: 50px;
    height: 50px;
    border: 4px solid #ffffff;
    border-top: 4px solid #3498db;
    border-bottom: 4px solid #34d3dbaa;
    border-right: 4px solid #45c971d7;
    border-left: 4px solid #4c45c9d7;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}