ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

li{
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease;
    margin: 0.6rem 0;
    width: full;
    text-align: center;

    border: 2px solid rgba(28, 27, 27, 0.553);

    background-color: rgba(28, 27, 27, 0.553);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;

}

li:hover{
    background-color: #232222e6;
}